Package: com.twickd.john-sklikas.3dbadgeclear
Name: 3DBadgeClear
Depends: mobilesubstrate
Provides: com.isklikas.3dbadgeclear
Conflicts: com.isklikas.3dbadgeclear
Replaces: com.isklikas.3dbadgeclear
Version: 1.6.8
Architecture: iphoneos-arm
Description: Clear your badges from the Force Touch / 3D Touch Menu! Only appears on apps that have badges.
Maintainer: isklikas
Author: isklikas
Section: Tweaks
