Package: com.isklikas.3dbadgeclear
Name: 3DBadgeClear
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: isklikas
Author: isklikas
Section: Tweaks
