<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSDefaultCell</string>
			<key>cellClass</key>
			<string>BDGCLRHeaderCell</string>
			<key>title</key>
			<string>3DBadgeClear</string>
			<key>subtitle</key>
			<string>by John Sklikas (isklikas)</string>
			<key>iconPath</key>
			<string>/Library/PreferenceBundles/3DBadgeClearPrefs.bundle/BDGCLRpref_83.5@2x.png</string>
			<key>height</key>
			<real>150</real>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Options</string>
			<key>footerText</key>
			<string>Clear_Last_Explanation</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.isklikas.3dbadgeclearprefs</string>
			<key>key</key>
			<string>appearsLast</string>
			<key>label</key>
			<string>Clear_Last</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>height</key>
			<integer>5</integer>
			<key>label</key>
			<string>Others</string>
			<key>footerText</key>
			<string>Donation_Explanation</string>
		</dict>
		<dict>
			<key>action</key>
			<string>twitter</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Follow_Twitter</string>
			<key>icon</key>
			<string>twitter-logo.png</string>
			<key>cellClass</key>
			<string>BDGCLRTableCell</string>
		</dict>
		<dict>
			<key>action</key>
			<string>github</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Source_Code</string>
			<key>icon</key>
			<string>github-logo.png</string>
			<key>cellClass</key>
			<string>BDGCLRTableCell</string>
		</dict>
		<dict>
			<key>action</key>
			<string>form</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Submit_Translation</string>
			<key>icon</key>
			<string>form-logo.png</string>
			<key>cellClass</key>
			<string>BDGCLRTableCell</string>
		</dict>
		<dict>
			<key>action</key>
			<string>email</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Send_Email</string>
			<key>icon</key>
			<string>email-icon.png</string>
			<key>cellClass</key>
			<string>BDGCLRTableCell</string>
		</dict>
		<dict>
			<key>action</key>
			<string>paypal</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Donate_PayPal</string>
			<key>icon</key>
			<string>paypal-logo.png</string>
			<key>cellClass</key>
			<string>BDGCLRTableCell</string>
		</dict>
	</array>
	<key>title</key>
	<string></string>
</dict>
</plist>
